.board__card {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: var(--nav-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 19rem;
  min-width: 19rem;
  height: fit-content;
  max-height: 100%;
  .board__card-header {
    color: var(--header-dark-bg);
    cursor: pointer;
    .prevcard__header-icon {
      transition: 0.3s;
      &:hover {
        color: var(--header-bg);
      }
    }
  }

  .board__card-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    overflow: hidden auto;
    padding: 0.5rem 0.7rem 0.5rem 0.5rem;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    .board__card-link {
      padding: 0;
    }
  }
  .board__card-footer {
    padding: 0.2rem 0.5rem;
    color: var(--header-dark-bg);
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: var(--nav-color);
      border-radius: 0.3rem;
    }
  }
}
