.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main {
  margin: 0 auto;
  max-width: 100vw;
  min-height: calc(100vh - 6.85rem);
  padding: 4.5rem 2rem 1rem 2rem;
  background-image: url('./assets/bg-1.jpg');
  background-size: cover;
}

.footer {
  background-color: var(--footer-bg);
  border-top: .15rem solid var(--text-color);
}
